
    <header>

      <!-- Nav Bar -->
      <nav id="navbar" class="navbar navbar-light navbar-expand-md d-md-none {% if site.navbar_fixed %}fixed-top{% else %}sticky-top{% endif %}">
        <div class="container">
          {% if page.permalink != '/' -%}
          <a href="/">
            <svg width="44" height="44" viewBox="0 0 88 89" fill="none" xmlns="http://www.w3.org/2000/svg">
              <rect x="1.91304" y="2.16304" width="84.1739" height="84.1739" rx="42.087" fill="var(--navbar-bg-color)" fill-opacity="0.8"/>
              <path d="M35.1463 30.6958C34.5804 30.6958 34.2975 30.4129 34.2975 29.847V25.6528C34.2975 25.0537 34.5804 24.7541 35.1463 24.7541H38.8911C39.1574 24.7541 39.3571 24.8373 39.4902 25.0037C39.6234 25.1702 39.69 25.3865 39.69 25.6528V29.847C39.69 30.4129 39.4237 30.6958 38.8911 30.6958H35.1463ZM34.4972 73.7359V35.1896H39.4902V61.2532C39.4902 63.55 39.3737 65.8136 39.1407 68.0438C38.9077 70.3073 38.6081 72.2047 38.242 73.7359H34.4972ZM55.1801 61.9523C53.549 61.9523 52.1676 61.6693 51.0359 61.1035C49.9374 60.5376 49.1052 59.6388 48.5394 58.4072C48.0068 57.1423 47.7405 55.4447 47.7405 53.3143V23.8054H52.7335V52.6652C52.7335 54.0633 52.8667 55.1451 53.133 55.9107C53.4325 56.643 53.832 57.159 54.3313 57.4585C54.8639 57.7581 55.4797 57.9578 56.1787 58.0577L58.6752 58.3573V61.9523H55.1801Z" fill="currentColor"/>
              <rect x="1.91304" y="2.16304" width="84.1739" height="84.1739" rx="42.087" stroke="url(#paint0_linear_221_51536)" stroke-width="3.82609"/>
              <defs>
              <linearGradient id="paint0_linear_221_51536" x1="44" y1="0.25" x2="44" y2="88.25" gradientUnits="userSpaceOnUse">
              <stop stop-color="white" stop-opacity="0.2"/>
              <stop offset="1" stop-color="white"/>
              <stop offset="1" stop-color="white"/>
              </linearGradient>
              </defs>
            </svg>
          </a>
          {%- elsif site.enable_navbar_social -%}
          <!-- Social Icons -->
          <div class="navbar-brand social">
            {% include social.html %}
          </div>
          {% endif %}
          <!-- Navbar Toggle -->
          <button class="navbar-toggler collapsed ml-auto mt-1" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar top-bar"></span>
            <span class="icon-bar middle-bar"></span>
            <span class="icon-bar bottom-bar"></span>
          </button>

          <div class="collapse navbar-collapse text-right" id="navbarNav">
            <ul class="navbar-nav ml-auto flex-nowrap">

              {%- for page in site.pages -%}
                {% if page.permalink == '/' %}
                  {% assign about_title = page.title %}
                {% endif %}
              {% endfor %}

              <!-- About -->
              <li class="nav-item {% if page.permalink == '/' %}active{% endif %}">
                <a class="nav-link" href="{{ '/' | relative_url }}">{{ about_title }}
                  {%- if page.permalink == '/' -%}
                  <span class="sr-only">(current)</span>
                  {%- endif -%}
                </a>
              </li>
              {% if site.blog_nav_title %}
              <!-- Blog -->
              <!-- <li class="nav-item {% if page.url contains 'blog' %}active{% endif %}">
                <a class="nav-link" href="{{ '/blog/' | relative_url }}">{{ site.blog_nav_title }}
                  {%- if page.url contains 'blog' -%}
                  <span class="sr-only">(current)</span>
                  {%- endif -%}
                </a>
              </li> -->
              {%- endif %}  

              <!-- Other pages -->
              {%- assign sorted_pages = site.pages | sort: "nav_order" -%}
              {%- for p in sorted_pages -%}
              {%- if p.nav and p.autogen == nil -%}
              {%- if p.dropdown %}
              <li class="nav-item dropdown {% if page.title == p.title %}active{% endif %}">
                <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">{{ p.title }}
                  {%- if page.title == p.title -%}
                  <span class="sr-only">(current)</span>
                  {%- endif -%}
                </a>
                <div class="dropdown-menu dropdown-menu-right" aria-labelledby="navbarDropdown">
                  {%- for child in p.children -%}
                  {%- if child.title == 'divider' %}
                  <div class="dropdown-divider"></div>
                  {%- else %}
                  <a class="dropdown-item" href="{{ child.permalink | relative_url }}">{{ child.title }}</a>
                  {%- endif -%}
                  {% endfor %}
                </div>
              </li>
              {%- else %}
              <li class="nav-item {% if page.title == p.title %}active{% endif %}">
                <a class="nav-link" href="{{ p.url | relative_url }}">{{ p.title }}
                  {%- if page.title == p.title -%}
                  <span class="sr-only">(current)</span>
                  {%- endif -%}
                </a>
              </li>
              {%- endif -%}
              {%- endif -%}
              {% endfor -%}
              {%- if site.enable_darkmode %}

              <!-- Toogle theme mode -->
              <li class="toggle-container">
                <button class="light-toggle" title="Change theme">
                  <i class="fas fa-moon"></i>
                  <i class="fas fa-sun"></i>
                </button>
              </li>
              {%- endif %}
            </ul>
          </div>
        </div>
      </nav>
      {% if site.enable_progressbar %}
            <!-- Scrolling Progress Bar -->
            <progress id="progress" value="0">
              <div class="progress-container">
                <span class="progress-bar"></span>
              </div>
            </progress>
      {%- endif %}

      <!-- desktop navbar -->
      <nav class="desktop-nav z-navbar d-none d-md-block w-100 {% if site.navbar_fixed %}position-fixed{% else %}sticky-top{% endif %}">
        <div class="container">
          <div class="row">
            <div class="col-lg-3 col-sm-4 pr-0">
              <div class="navbar-left">
                <a href="/">
                  <svg width="54" height="54" viewBox="0 0 88 89" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <rect x="1.91304" y="2.16304" width="84.1739" height="84.1739" rx="42.087" fill="var(--navbar-bg-color)" style="backdrop-filter: blur(24px);"/>
                    <path d="M35.1463 30.6958C34.5804 30.6958 34.2975 30.4129 34.2975 29.847V25.6528C34.2975 25.0537 34.5804 24.7541 35.1463 24.7541H38.8911C39.1574 24.7541 39.3571 24.8373 39.4902 25.0037C39.6234 25.1702 39.69 25.3865 39.69 25.6528V29.847C39.69 30.4129 39.4237 30.6958 38.8911 30.6958H35.1463ZM34.4972 73.7359V35.1896H39.4902V61.2532C39.4902 63.55 39.3737 65.8136 39.1407 68.0438C38.9077 70.3073 38.6081 72.2047 38.242 73.7359H34.4972ZM55.1801 61.9523C53.549 61.9523 52.1676 61.6693 51.0359 61.1035C49.9374 60.5376 49.1052 59.6388 48.5394 58.4072C48.0068 57.1423 47.7405 55.4447 47.7405 53.3143V23.8054H52.7335V52.6652C52.7335 54.0633 52.8667 55.1451 53.133 55.9107C53.4325 56.643 53.832 57.159 54.3313 57.4585C54.8639 57.7581 55.4797 57.9578 56.1787 58.0577L58.6752 58.3573V61.9523H55.1801Z" fill="currentColor"/>
                    <rect x="1.91304" y="2.16304" width="84.1739" height="84.1739" rx="42.087" stroke="url(#paint0_linear_221_51535)" stroke-width="3.82609"/>
                    <defs>
                    <linearGradient id="paint0_linear_221_51535" x1="44" y1="0.25" x2="44" y2="88.25" gradientUnits="userSpaceOnUse">
                    <stop stop-color="white" stop-opacity="0.2"/>
                    <stop offset="1" stop-color="white"/>
                    <stop offset="1" stop-color="white"/>
                    </linearGradient>
                    </defs>
                  </svg>
                </a>
                <div class="social-btn">
                  <a href="https://www.linkedin.com/in/{{ site.linkedin_username }}" title="LinkedIn">Linked in</a><a href="mailto:{{ site.email | encode_email }}" title="email">e-mail</a>
                </div>
              </div>
            </div>

            <div class="col-lg-6 col-sm-8">
              <div class="px-5 m-0 navbar navbar-light">
                <ul class="navbar-nav">
                  {%- for page in site.pages -%}
                    {% if page.permalink == '/' %}
                      {% assign about_title = page.title%}
                    {% endif %}
                  {% endfor %}
                  <!-- About -->
                  <li class="nav-item {% if page.permalink == '/' %}active{% endif %}">
                    <a class="nav-link" href="{{ '/' | relative_url }}">{{ about_title }}
                      {%- if page.permalink == '/' -%}
                      <span class="sr-only">(current)</span>
                      {%- endif -%}
                    </a>
                  </li>
                  {% if site.blog_nav_title %}
                  <!-- Blog -->
                  <!-- <li class="nav-item {% if page.url contains 'blog' %}active{% endif %}">
                    <a class="nav-link" href="{{ '/blog/' | relative_url }}">{{ site.blog_nav_title }}
                      {%- if page.url contains 'blog' -%}
                      <span class="sr-only">(current)</span>
                      {%- endif -%}
                    </a>
                  </li> -->
                  {%- endif %}
                  <!-- Other pages -->
                  {%- assign sorted_pages = site.pages | sort: "nav_order" -%}
                  {%- for p in sorted_pages -%}
                  {%- if p.nav and p.autogen == nil -%}
                  {%- if p.dropdown %}
                  <li class="nav-item dropdown {% if page.title == p.title %}active{% endif %}">
                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">{{ p.title }}
                      {%- if page.title == p.title -%}
                      <span class="sr-only">(current)</span>
                      {%- endif -%}
                    </a>
                    <div class="dropdown-menu dropdown-menu-right" aria-labelledby="navbarDropdown">
                      {%- for child in p.children -%}
                      {%- if child.title == 'divider' %}
                      <div class="dropdown-divider"></div>
                      {%- else %}
                      <a class="dropdown-item" href="{{ child.permalink | relative_url }}">{{ child.title }}</a>
                      {%- endif -%}
                      {% endfor %}
                    </div>
                  </li>
                  {%- else %}
                  <li class="nav-item {% if page.title == p.title %}active{% endif %}">
                    <a class="nav-link" href="{{ p.url | relative_url }}">{{ p.title }}
                      {%- if page.title == p.title -%}
                      <span class="sr-only">(current)</span>
                      {%- endif -%}
                    </a>
                  </li>
                  {%- endif -%}
                  {%- endif -%}
                  {% endfor -%}
                  {%- if site.enable_darkmode %}
                  <!-- Toogle theme mode -->
                  <li class="toggle-container pb-2">
                    <button class="light-toggle" title="Change theme">
                      <i class="fas fa-moon"></i>
                      <i class="fas fa-sun"></i>
                    </button>
                  </li>
                  {%- endif %}
                </ul>
              </div>              
            </div>
            
          </div>
        </div>
        {% if site.enable_progressbar %}
          <!-- Scrolling Progress Bar -->
          <progress id="progress" class="position-relative" value="0">
            <div class="progress-container">
              <span class="progress-bar"></span>
            </div>
          </progress>
        {%- endif %}
      </nav>

    </header>
