{%- for page in site.pages -%}
  {% if page.permalink == '/' %}
    {% assign about_title = page.title %}
  {% endif %}
{% endfor %}

<!-- About -->
<li class="nav-item {% if page.permalink == '/' %}active{% endif %}">
  <a class="nav-link" href="{{ '/' | relative_url }}">{{ about_title }}
    {%- if page.permalink == '/' -%}
    <span class="sr-only">(current)</span>
    {%- endif -%}
  </a>
</li>
{% if site.blog_nav_title %}
<!-- Blog -->
<!-- <li class="nav-item {% if page.url contains 'blog' %}active{% endif %}">
  <a class="nav-link" href="{{ '/blog/' | relative_url }}">{{ site.blog_nav_title }}
    {%- if page.url contains 'blog' -%}
    <span class="sr-only">(current)</span>
    {%- endif -%}
  </a>
</li> -->
{%- endif %}  

<!-- Other pages -->
{%- assign sorted_pages = site.pages | sort: "nav_order" -%}
{%- for p in sorted_pages -%}
{%- if p.nav and p.autogen == nil -%}
{%- if p.dropdown %}
<li class="nav-item dropdown {% if page.title == p.title %}active{% endif %}">
  <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">{{ p.title }}
    {%- if page.title == p.title -%}
    <span class="sr-only">(current)</span>
    {%- endif -%}
  </a>
  <div class="dropdown-menu dropdown-menu-right" aria-labelledby="navbarDropdown">
    {%- for child in p.children -%}
    {%- if child.title == 'divider' %}
    <div class="dropdown-divider"></div>
    {%- else %}
    <a class="dropdown-item" href="{{ child.permalink | relative_url }}">{{ child.title }}</a>
    {%- endif -%}
    {% endfor %}
  </div>
</li>
{%- else %}
<li class="nav-item {% if page.title == p.title %}active{% endif %}">
  <a class="nav-link" href="{{ p.url | relative_url }}">{{ p.title }}
    {%- if page.title == p.title -%}
    <span class="sr-only">(current)</span>
    {%- endif -%}
  </a>
</li>
{%- endif -%}
{%- endif -%}
{% endfor -%}
{%- if site.enable_darkmode %}

<!-- Toogle theme mode -->
<li class="toggle-container">
  <button id="light-toggle" title="Change theme">
    <i class="fas fa-moon"></i>
    <i class="fas fa-sun"></i>
  </button>
</li>
{%- endif %}
